<div>
  <div class="w-full">
    <label for="question_<%= id %>" class="block text-sm font-medium text-gray-700">
      <%= question.label %>
    </label>
  </div>
  <% question.answers.each_with_index do |answer, idx| %>
    <% domID = "question_#{id}_answer_#{idx}" %>
    <div class="answer">
      <div class="flex items-center h-5">
        <input id="<%= domID %>" name="question_<%= id %>" type="radio" class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300 rounded"
      </div>
      <div class="ml-3 text-small">
        <label for="<%= domID %>" class="block text-sm font-medium text-gray-700">
          <%= answer.label %>
        </label>
      </div>
    </div>
  <% end %>
</div>
