<%
  # This partial might be invoked either directly in a controller with
  # an @ variable, or by another view with a local variable assignment
%>
<% questionObject = @question || question %>
<% id = questionObject.id || Time.now.to_i %>
<% if questionObject.id.present? %>
  <input type="hidden" name="form[questions_attributes][<%= id %>][id]" value="<%= questionObject.id %>" />
  <input id="question-<%= id %>-remove" type="hidden" name="form[questions_attributes][<%= id %>][_destroy]" value="false" />
<% end %>
<li id="question-<%= id %>" class="ml-4 mt-4" data-controller="remove">
  <% if questionObject.id.present? %>
    <div class="float-right">
      <%= link_to "edit", edit_admin_question_path(questionObject), class: "mr-4" %>
      <%= link_to "remove", "#", data: { action: "remove#remove" } %>
    </div>
  <% end %>

  <input type="hidden" name="form[questions_attributes][<%= id %>][question_type]" value="<%= questionObject.question_type %>" />
  <input type="hidden" name="form[questions_attributes][<%= id %>][label]" value="<%= questionObject.label %>" />

  <% if QuestionType.has_options?(questionObject) %>
    <% questionObject.answers.each_with_index do |answer, index| %>
      <% if answer.id.present? %>
        <input type="hidden" name="form[questions_attributes][<%= id %>][answers_attributes][<%= answer.id %>][id]" value="<%= answer.id %>" />
      <% end %>

      <% answerID = answer.id || index %>
      <input type="hidden" name="form[questions_attributes][<%= id %>][answers_attributes][<%= answerID %>][label]" value="<%= answer.label %>" />
    <% end %>
  <% end %>
  <%= render "admin/question_types/#{questionObject.question_type}", id: id, question: questionObject %>
</li>
