<div class="mt-4">
  <div class="md:grid md:grid-cols-2 md:gap-6 bg-gray-100 p-4 pb-8">
    <div class="md:col-span-1">
      <%= form_with model: [:admin, @form] do |f| %>
        <div class="mb-3">
          <%= f.label :name, "Name", class: "block text-sm font-medium text-gray-700" %>
          <%= f.text_field :name, autofocus: true, required: true, class: "pl-2 pt-2 pb-2 mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border border-gray-400 rounded-md" %>
        </div>
        <div class="flex items-start">
          <div class="flex items-center h-5">
            <%= f.check_box :published, autofocus: true, class: "focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300 rounded" %>
          </div>
          <div class="ml-3 text-small">
            <%= f.label :published, "Published", class: "block text-sm font-medium text-gray-700" %>
          </div>
        </div>
        <div class="ml-3 text-xs">
          Once published, this form will be publicly visible and other users can fill it out.  The form will also no longer be editable.
        </div>

        <div class="mt-3">
          <div class="float-right">
            <%= link_to "+ Question", new_admin_question_path(question: { question_type: ""}), class: "inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %>
          </div>
          <h5 class="text-md">Questions</h5>
          <ul id="form_questions" class="list-decimal">
            <%= render @form.questions.order("created_at ASC") %>
          </ul>
        </div>

        <div class="mt-4">
          <%= f.submit "Save Form", class: "w-full mt-6 inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %>
        </div>
      <% end %>
    </div>

    <div id="question_panel" class="mt-5 md:mt-0 md:col-span-1">

    </div>
  </div>
</div>
