<div class="mt-4">
  <div class="md:grid md:grid-cols-2 md:gap-6 bg-gray-100 p-4 pb-8">
    <div class="md:col-span-1">
      <%= form_with model: @form do |f| %>
        <div class="mb-3">
          <%= f.label :name, "Name", class: "block text-sm font-medium text-gray-700" %>
          <%= f.text_field :name, autofocus: true, required: true, class: "pl-2 pt-2 pb-2 mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border border-gray-400 rounded-md" %>
        </div>
        <div class="flex items-start">
          <div class="flex items-center h-5">
            <%= f.check_box :published, autofocus: true, required: true, class: "focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300 rounded" %>
          </div>
          <div class="ml-3 text-small">
            <%= f.label :published, "Published", class: "block text-sm font-medium text-gray-700" %>
          </div>
        </div>
        <div class="ml-3 text-xs">
          Once published, this form will be publicly visible and other users can fill it out.  The form will also no longer be editable.
        </div>
        <div class="mt-3">
          <h5 class="text-md">Questions</h5>
          <ul id="form_questions" class="list-decimal"> </ul>
        </div>
        <div class="mt-4">
          <%= f.submit "Submit", class: "w-full mt-6 inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %>
        </div>
      <% end %>
    </div>
    <div class="mt-5 md:mt-0 md:col-span-1">
      <% question = Question.new(form_id: @form.id) %>
      <%= form_with model: Question.new, url: new_question_path, method: :get do |f| %>
        <%= f.hidden_field :form_id %>
        <div class="shadow sm:rounded-md sm:overflow-hidden mb-4">
          <div class="px-4 py-5 bg-white space-y-6 sm:p-6">
            <h4 class="text-lg">New Question</h4>
            <div class="grid grid-cols-3 gap-6">
              <div class="col-span-2">
                <div class="col-span-6 sm:col-span-3">
                  <label for="question_type" class="block text-sm font-medium text-gray-700">Question Type</label>
                  <select id="question_type" name="question[question_type]" required class="mt-1 block w-full py-2 px-3 border border-gray-400 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                    <option></option>
                    <% QuestionType::TYPES.each do |type| %>
                      <option value="<%= type[:value] %>"><%= type[:name] %></option>
                    <% end %>
                  </select>
                </div>
              </div>
              <div class="col-span-1">
                <input type="submit" value="Update" class="w-full mt-6 inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"/>
              </div>
            </div>
          </div>
        </div>
      <% end %>

      <div class="shadow sm:rounded-md sm:overflow-hidden">
        <div id="question_form" class="px-4 py-5 bg-white space-y-6 sm:p-6">
          <%= render 'questions/select_type' %>
        </div>
      </div>
    </div>
  </div>
</div>
